<footer id="footer" class="footer">

  <nav class="nav  nav--footer">
    <ul class="menu  menu--left">
      <li class="menu__item  menu__item--home"><a class="menu__item__link" href="/"><i class="fa  fa--space  fa-home"></i>Home</a></li>
      <li class="menu__item  menu__item--pages"><a class="menu__item__link" href="/pages.html"><i class="fa  fa--space  fa-pagelines"></i>Pages</a></li>
      <li class="menu__item  menu__item--posts"><a class="menu__item__link" href="/posts.html"><i class="fa  fa--space  fa-file"></i>Posts</a></li>
      <li class="menu__item  menu__item--about"><a class="menu__item__link" href="/about.html"><i class="fa  fa--space  fa-user"></i>About</a></li>
      <li class="menu__item  menu__item--contact"><a class="menu__item__link" href="/contact.html"><i class="fa  fa--space  fa-envelope"></i>Contact</a></li>
    </ul>
  </nav>

  <p class="copyright"><small>&copy; {{ site.year }}, {{ site.author }}</small></p>

</footer> <!-- /.footer -->
