<header id="header" class="header header--hidden">

  <nav class="nav  nav--header">
    <ul class="menu">
      <li class="menu__item  menu__item--pages"><a class="menu__item__link" href="/pages.html"><i class="fa fa-pagelines"></i>Pages</a></li><!--
      --><li class="menu__item  menu__item--posts"><a class="menu__item__link" href="/posts.html"><i class="fa fa-file"></i>Posts</a></li><!--
      --><li class="menu__item  menu__item--about"><a class="menu__item__link" href="/about.html"><i class="fa fa-user"></i>About</a></li><!--
      --><li class="menu__item  menu__item--contact"><a class="menu__item__link" href="/contact.html"><i class="fa fa-envelope"></i>Contact</a></li>
    </ul>
  </nav>

  <nav class="nav  nav--mobile">
    <ul class="menu">
      <li class="menu__item  menu__item--home"><a class="menu__item__link" href="/"><i class="fa  fa--space  fa-home"></i>Home</a></li>
      <li class="menu__item  menu__item--menu"><a id="js-menu-toggle--mobile" class="menu__item__link" href="#footer"><i class="fa  fa--space  fa-ellipsis-v"></i>Menu</a></li>
    </ul>
  </nav>

  <a href="/" class="logo">
    <img class="logo__image" src="/img/{{ site.logo }}" alt="{{ site.title }}" />
  </a>

</header> <!-- /.header -->
