  <meta property="og:title" content="{{ site.title }} &mdash; {{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.image }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />

  <meta itemprop="name" content="{{ site.title }} &mdash; {{ page.title }}" />
  <meta itemprop="description" content="{{ page.excerpt }}" />
  <meta itemprop="image" content="{{ site.url }}/apple-touch-icon-precomposed.png" />
