.highlight {
  background-color: $highlight-background-color;
  border-radius: $highlight-border-radius;
  box-shadow: $highlight-box-shadow;
  margin: $highlight-margin;
  padding: $highlight-padding;
}

.lineno {
  font-size: $lineno-font-size;
  padding: $lineno-padding;
  opacity: $lineno-opacity;
}
