a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}
