.nav {
  width: 100%;
}

.menu {
  list-style: none;
  max-width: $menu-width;
  margin: auto;
}

.menu__item .menu__item__link {
  display: block;
  @include button(
    none,
    $menu__item-border-radius,
    $menu__item-margin,
    $menu__item-padding
  );
}

.nav--header .menu__item {
  display: inline-block;
  position: relative;
  width: 100% / $menu__item-count;
}

.nav--mobile .fa {
  margin-right: $fa-margin-right;
}

.nav--mobile .menu__item--home {
  float: left;
}

.nav--mobile .menu__item--menu {
  float: right;
}

.nav--mobile .menu__item__link {
  background-color: $banner-color-home;
  padding: $menu__item--mobile-padding;
}

.menu__item--home .menu__item__link {
  background-color: rgba($banner-color-home, 0.5);

  &:hover {
    background-color: rgba($banner-color-home, 0.7);
  }
}

.menu__item--about .menu__item__link {
  background-color: rgba($banner-color-about, 0.5);

  &:hover {
    background-color: rgba($banner-color-about, 0.7);
  }
}

.menu__item--contact .menu__item__link {
  background-color: rgba($banner-color-contact, 0.5);

  &:hover {
    background-color: rgba($banner-color-contact, 0.7);
  }
}

.menu__item--pages .menu__item__link {
  background-color: rgba($banner-color-page, 0.5);

  &:hover {
    background-color: rgba($banner-color-page, 0.7);
  }
}

.menu__item--posts .menu__item__link {
  background-color: rgba($banner-color-post, 0.5);

  &:hover {
    background-color: rgba($banner-color-post, 0.7);
  }
}

.nav--header .menu__item .fa {
  display: block;
  font-size: 2rem;
}

.footer .menu__item {
  width: 100%;
}

@media (min-width: $screen-md-min) {
  .nav--mobile {
    display: none;
  }

  .nav--header .menu__item--pages,
  .nav--header .menu__item--posts {
    left: -25%;
  }

  .nav--header .menu__item--about,
  .nav--header .menu__item--contact {
    right: -25%;
  }



  .nav--header .menu__item .fa {
    display: initial;
    font-size: 1rem;
    margin-right: $fa-margin-right;
  }
}
